<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8 col-lg-5">
          <h6 class="text-muted"><%= title %></h6> 
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              General programming
              <div class="image-parent">
                  <img src="/Assets/images/generalprog.png" class="img-fluid" alt="quixote" style="margin-left: 20px;">
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Web application development
              <div class="image-parent">
                  <img src="/Assets/images/webappdev.png" class="img-fluid" alt="lay" style="margin-left: 20px;">
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" >  
              Mobile application development
              <div class="image-parent">
                  <img src="/Assets/images/mobileappdev.png" class="img-fluid" alt="things" style="margin-left: 20px;">
            </li>
          </ul>
        </div>
      </div>
      
    </div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>